<template>
  <div class="about">
    <h1>This is an About page</h1>
    <h3> {{ name}}</h3>
  </div>
</template>
<script>
export default {
  data(){
    return {
      name:'Hello, Vue'
    }
  }
}
</script>
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
