<template>
  <div class="hello">
    <h1>This is an Register page</h1>
    <div class="holder">
    <form @submit.prevent="addSkill" >
       <input type="text" placeholder="Enter a skill you have.." v-model="skill">
    
    </form>
    <ul>
    <transition-group name="list" enter-active-class="animated bounceInUp" leave-active-class="animated bounceOutDown">
          <li v-for="(data, index) in books" :key='index'>
            {{ data.name }}, {{data.content}}
            <i class="fa fa-minus-circle" v-on:click="remove(index)"></i>
          </li>
        </transition-group>
    </ul>
    <p> This is example</p>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      checked:true,
        skill:'',
        skills:[
          {"skill":"Vue.js"},
          {"skill":"Fron-End"},    
          ],
        books:[
            {"name":"Bill",
              "content":"asdas asdasd"},
            {"name":"Bill_01",
              "content":"bbb bbb"},
        ]
        
   }
  },
  methods:{
    addSkill(){
      this.skills.push( {skill:this.skill})
      this.skill='';  
      console.log('This checkbox value is: '+this.checked);
    },
    remove(id ){
        this.skills.splice(id,1);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"; 

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  ul li {
    padding: 20px;
    font-size: 1.3em;
    background-color: #E0EDF4;
    border-left: 5px solid #3EB3F6;
    margin-bottom: 2px;
    color: #3E5252;
  }
  p {
    text-align:center;
    padding: 30px 0;
    color: gray;
  }

a {
  color: #42b983;
}
  input {
    width: calc(100% - 40px);
    border: 0;
    padding: 20px;
    font-size: 1.3em;
    background-color: #323333;
    color: #687F7F;
  }
  @keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
i{
  float:right;
  cursor: pointer;
}
</style>
